@using Microsoft.AspNetCore.Components.Authorization

<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/search">People Search</NavLink></li>
        <AuthorizeView>
            <Authorized>
                <li><NavLink href="authentication/logout">Logout</NavLink></li>
            </Authorized>
            <NotAuthorized>
                <li><NavLink href="authentication/login">Login</NavLink></li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</nav>